.dashboard-container {
    display: flex;
    height: 80%;
    margin-bottom: -50px;
}

.dashboard-options-container {
    width: 25%;
    background-color:#3b3b3b;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-options-container button {
    height: 40px;
    width: 120px;
    margin-left: 85px;
    margin-top: 50px;
}

.dashboard-options-container a {
    text-align: center;
}

.dashboard-options-container h2 {
    text-align: center;
}

.dashboard-display-container {
    width: 100%;
}