html {
    scroll-behavior: smooth;
}

.intro-container {
    height: 300px;
    background-color: #CBC3E3;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shop-link {
    border-radius: 20px;
    border: none;
    cursor: pointer;

    height: 30px;
    width: 100px;
    transition: 0.2s ease;
}

.shop-link:hover {
    color: white;
    background: #5D3FD3;
    border: none;
}

.product-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(350px, 1fr)); 
    justify-items: center;
}
  
.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    height: 300px;
    width: 300px;
    display: block;
    transition: transform 0.2s;
    text-align: center;
}

.product-card:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

#products h1 {
    text-align: center;
}